.metadataContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 768px) {
  .metadataContainer {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 32px;
  }
}
